<div class="category-screen">
    <div class="back-btn">
      <a href="/" class="back-btn">
      <img src="/images/icons8-back-64.png" alt="Back" />
      </a>
   </div>

<div class="category-details">
        <img src="/images/icons8-book-64.png" alt="" id="category-img">
        <div class="details">
            <h1>Book Tracker</h1>
        </div>
</div>



<!-- READING LIST -->
<section class="reading-list">
    <h3>Currently Reading:</h3>
    <div id="readingList">
       <div class="x-tasks">
    {{#each book}}
    <div class="x-task" data-id="{{_id}}" data-checked="{{completed}}">
      <div class="x-row">
        <span class="checkbox">
          <img src="/images/icons8-check-64.png" onclick="toggleTaskCompletion(event)" taskId="{{_id}}" alt="">
        </span>
        <div id="TitleErrormessage" style="display:none">title is mandatory</div>
        
        <div class="x-delete" taskId="{{_id}}" onclick="deleteTask(event)">
          <img src="/images/icons8-trash-64.png" alt="trash">
        </div>
      </div>
      <div class="x-details">

        {{#if author}}
        <p><strong>Author: </strong>
        <br>
        <input type="text" value="{{author}}" bookId="{{_id}}" ></p>
        {{/if}}

        {{#if genre}}
        <p> <strong>Genre: </strong>
        <br>
        <input type="text" value="{{genre}}" bookId="{{_id}}" ></p>
        {{/if}}

        {{#if pageNumber}}
        <p><strong>Number of Pages:</strong></p>
        <br>
        <input type="text" value="{{pageNumber}}" bookId="{{_id}}" ></p>
        {{/if}}

        {{#if source}}
        <p><strong>Source: {{source}}</strong></p>
        <input type="text" value="{{source}}" bookId="{{_id}}" ></p>
        {{/if}}

        <p><strong>Starting Date: {{dateStarted}}</strong></p>
        <input type="text" value="{{dateStarted}}" bookId="{{_id}}" ></p>


        <p><strong>Finished on: {{dateFinished}}</strong></p>
        <input type="text" value="{{dateFinished}}" bookId="{{_id}}" ></p>


        <p><strong>Rating: {{rating}}</strong></p>
        <input type="text" value="{{rating}}" bookId="{{_id}}" ></p>


        <p><strong>Comments: {{comments}}</strong></p>
        <input type="text" value="{{comments}}" bookId="{{_id}}" ></p>

      </div>
    </div>
    {{/each}}
  </div>

</ul>
<!--ADD TASK BUTTON-->

   <button id="open-modal-button" class="add-task-button" data-bs-toggle="modal" data-bs-target="#task-modal">
     <img src="/images/icons8-plus-50.png" alt="">
   </button>

        <!--ADD TASK FORM-->
  <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Add New Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       
       <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="title" class="form-label">Title:</label>
              <input type="text" id="title" name="title" class="form-control" required>
            </div>

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="title" class="form-label">Author:</label>
              <input type="text" id="title" name="title" class="form-control" required>
            </div>

           <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="genre" class="form-label">Genre:</label>
              <input type="text" id="genre" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="pageNumber" class="form-label">Number of Pages:</label>
              <input type="text" id="pageNumber" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="source" class="form-label">Source:</label>
              <input type="text" id="source" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="dateSarted" class="form-label">Started on:</label>
              <input type="text" id="dateStarted" class="form-control" >
            </div> 


            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="dateFinished" class="form-label">Finished on:</label>
              <input type="text" id="dateFinished" class="form-control" >
            </div> 


            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="rating" class="form-label">Rating:</label>
              <input type="text" id="rating" class="form-control" >
            </div> 


            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="comments" class="form-label">Comments:</label>
              <input type="text" id="comments" class="form-control" >
            </div> 


          <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
      </div>
    </div>
  </div>
</div>
</section>



        <!--ADD TASK FORM-->
  <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Create a New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       
       <div class="modal-body">
          <form id="task-form" name="task-form" method="POST" action="/">
            <div class="mb-3 form-group">
              <label for="title" class="form-label">Title:</label>
              <input type="text" id="title" name="title" class="form-control" required/>
              <label for="Title Error Message" hidden="true"></label>
            </div>


            <div class="mb-3" id="description-container">
              <label for="description" class="form-label">Description:</label>
              <textarea id="description" name="description" class="form-control" rows="4"></textarea>
            </div>

            <div class="mb-3">
              <label for="due-date" class="form-label">Due Date:</label>
              <input type="date" id="due-date" name="due-date" class="form-control" />
            </div>

            <div class="mb-3">
              <label for="priority" class="form-label">Priority:</label>
              <select id="priority" name="priority" class="form-select">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
              </select>
          </div>

          <div class="mb-3">
             <label for="category" class="form-label">Category Tag:</label>
             <select id="category" name="category" class="form-select">
                <option value="Personal">Personal</option>
                <option value="Health">Health</option>
                <option value="Work">Work</option>
                <option value="Home">Home</option>
                <option value="Shopping">Shopping</option>
                <option value="Education">Education</option>
                <option value="Finances">Finances</option>
             </select>
           </div>

          <button type="submit" class="btn btn-primary" onclick="validateForm(event)">Create Task</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


</section>
</div>
