<div class="category-screen">
    <div class="back-btn">
      <a href="/" class="back-btn">
      <img src="/images/icons8-back-64.png" alt="Back" />
      </a>
   </div>

<div class="category-details">
        <img src="/images/icons8-book-64.png" alt="" id="category-img">
        <div class="details">
            <h1>Book Tracker</h1>
        </div>
</div>


<section class="book-search">
    <div class="book-search-field">
    <form id="searchForm">
        <input type="text" id="booksSearchInput" placeholder="Search for a book">
        <button type="submit">Search</button>
    </form>
</div>
    <div id="searchResults">

    </div>
</section>

<section class="reading-list">
    <h3>Currently Reading:</h3>
    <ul id="readingList">
       <div class="x-tasks">
    {{#each tasks}}
    <div class="x-task" data-id="{{_id}}" data-checked="{{completed}}">
      <div class="x-row">
        <span class="checkbox">
          <img src="/images/icons8-check-64.png" onclick="toggleTaskCompletion(event)" taskId="{{_id}}" alt="">
        </span>
        <div id="TitleErrormessage" style="display:none">title is mandatory</div>

        <input type="text" value="{{title}}" taskId="{{_id}}" onblur="updateTaskTitle(event)"></input>
        
        <div class="x-delete" taskId="{{_id}}" onclick="deleteTask(event)">

      
          <img src="/images/icons8-trash-64.png" alt="trash">
        </div>
      </div>
      <div class="x-details">

        {{#if author}}
        <p><strong>Author: </strong>
        <br>
        <input type="text" value="{{author}}" taskId="{{_id}}" onblur="updateTaskDetails(event)"></p>
        {{/if}}

        {{#if genre}}
        <p> <strong>Genre: </strong>
        <br>
        {{genre}} 
        <br>
        {{/if}}

        {{#if pageNumber}}
        <p><strong>Number of Pages:</strong></p>
        <br>
        {{pageNumber}}
        {{/if}}

        {{#if source}}
        <p><strong>Source: {{source}}</strong></p>
        {{/if}}

        {{#if dateStarted}}
        <p><strong>Starting Date: {{dateStarted}}</strong></p>
        {{/if}}

        {{#if dateFinished}}
        <p><strong>Finished on: {{dateFinished}}</strong></p>
        {{/if}}

        {{#if rating}}
        <p><strong>Rating: {{rating}}</strong></p>
        {{/if}}

        {{#if comments}}
        <p><strong>Comments: {{comments}}</strong></p>
        {{/if}}

      </div>
    </div>
    {{/each}}
  </div>

</ul>
<!--ADD TASK BUTTON-->

   <button id="open-modal-button" class="add-task-button" data-bs-toggle="modal" data-bs-target="#task-modal">
     <img src="/images/icons8-plus-50.png" alt="">
   </button>

        <!--ADD TASK FORM-->
  <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Add New Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       
       <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="title" class="form-label">Title:</label>
              <input type="text" id="title" name="title" class="form-control" required>
            </div>

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="title" class="form-label">Author:</label>
              <input type="text" id="title" name="title" class="form-control" required>
            </div>

           <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="genre" class="form-label">Genre:</label>
              <input type="text" id="genre" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="pageNumber" class="form-label">Number of Pages:</label>
              <input type="text" id="pageNumber" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="source" class="form-label">Source:</label>
              <input type="text" id="source" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="dateSarted" class="form-label">Started on:</label>
              <input type="text" id="dateStarted" class="form-control" >
            </div> 


            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="dateFinished" class="form-label">Finished on:</label>
              <input type="text" id="dateFinished" class="form-control" >
            </div> 


            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="rating" class="form-label">Rating:</label>
              <input type="text" id="rating" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="" class="form-label">:</label>
              <input type="text" id="" class="form-control" >
            </div> 

            <div class="modal-body">
          <form id="task-form" method="POST" action="/">
            <div class="mb-3">
              <label for="comments" class="form-label">Comments:</label>
              <input type="text" id="comments" class="form-control" >
            </div> 


          <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
      </div>
    </div>
  </div>
</div>
</section>

<!--PLACEHOLDER FOR NOW-->
<section>
    <div class="book-entry">
        <div class="book-details">
            <img src="" alt="Book Cover">
            <div class="info">
                <h5>Title: </h5>
                <p>Author: </p>
                <p>Genre: </p>
                <p>Page Number:</p>
                <p>Source: </p>
                <p>Date Started: </p>
                <p>Date Finished: </p>
                <p>Rating: ★★★★☆</p>
                <p>Reading Progress:</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 75%;"></div>
                </div>
            </div>
        </div>

        <div class="notes">
            <h4>Comments:</h4>
            <p></p>
            <input type="text">
        </div>
    </div>

    <div class="tbr-list">
        <h4>To Be Read (TBR):</h4>
        <ul>
            <li><a href="#">Book Title 1</a></li>
            <li><a href="#">Book Title 2</a></li>
            <li><a href="#">Book Title 3</a></li>
        </ul>
    </div>

    <div class="challenges">
        <h4>Reading Goals:</h4>
        <p>Reading Goal for 2023: X books</p>
        <p>Books Read This Year: X</p>
    </div>

    <div class="overview">
        <h4>Yearly Overview:</h4>
      
    </div>

    <div class="recommendations">
        <h4>Book Recommendations:</h4>
        <ul>
            <li><a href="#">Recommended Book 1</a></li>
            <li><a href="#">Recommended Book 2</a></li>
            <li><a href="#">Recommended Book 3</a></li>
        </ul>
    </div>
</section>
</div>