<!-- challenge.hbs -->
 <div class="back-btn">
             <a href="/" class="back-btn">
            <img src="/images/icons8-back-64.png" alt="Back" />
          </a>
 </div>

<div class="challenge-details">
  <img src="{{challenge.icon}}" alt="Challenge Icon">
  <h1>{{challenge.name}} Challenge</h1>
</div>

<!-- challenge.hbs -->

<div class="category-screen">
    <div class="tasks-wrapper">
        <div class="tasks">
            <div class="task-wrapper">
                <label for="task-challenge" class="task">

                    <input type="checkbox" name="" id="task-challenge">
                    <span class="checkbox">
                        <img src="{{challenge.icon}}" alt="">
                    </span>
                    <p class="task-text">{{challenge.name}}</p>

                </label>
            </div>
            {{#each challenge.content}}
            <div class="task-wrapper">
                <label for="task-{{@index}}" class="task">

                    <input type="checkbox" name="" id="task-{{@index}}">
                    <span class="checkbox">
                        <img src="/images/icons8-check-64.png" alt="">
                    </span>
                    <p class="task-text">{{this.name}} <!--- Difficulty: {{this.difficulty}}--></p>

                </label>
          
            </div>
            {{/each}}
        </div>
    </div>
</div>

