<!-- challenge.hbs -->
 <div class="back-btn">
        <a href="/challenges" class="back-btn">
          <img src="/images/icons8-back-64.png" alt="Back" />
        </a>
 </div>

<div class="category-details">
    <img src="{{challenge.icon}}" alt="Challenge Icon">
    <h1>{{challenge.name}} Challenge</h1>
</div>


<ul class="challenge-tasks">
  {{#each challenge.content}}
  <li class="challenge">
    <label class="task">
      <input type="checkbox" class="checkbox" id="task-{{@index}}">
      <span class="checkmark"></span>
      <p class="task-text">{{this.name}} <!--- Difficulty: {{this.difficulty}}--></p>
<br>
      <p class="x-details hidden"><strong>Difficulty: </strong> {{this.difficulty}}</p>

    </label>
  </li>
  {{/each}}
</ul>
